<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 数据库URL -->
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<!-- 数据库用户名 -->
		<property name="connection.username">zhengcheng</property>
		<!-- 数据库密码 -->
		<property name="connection.password">123123</property>
		<!-- JDBC驱动 -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		
		<!-- 每个数据库都有对应的Dialect以匹配其平台特性 -->
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- 指定当前session范围和上下文 -->
		<property name="current_session_context_class">thread</property>
		<!-- 指定运行期生成的SQL输出到日志以供调试 -->
		<property name="show_sql">true</property>
		<!-- 是否格式化sql -->
		<property name="format_sql">true</property>
		
		<!-- 映射文件 -->
		<mapping resource="Student.hbm.xml" />	
	</session-factory>
</hibernate-configuration>